{% extends "layoutAdmin.twig" %}


{% block content %}

<p>Formulaire de edit</p>

<form method="post" action="{{path_for('userAdminUpdate', {'id':users.id})}}">
	<input type="texte" name="username" value="{{users.username}}">
	<input type="texte" name="lastname" value="{{users.lastname}}">
	<input type="texte" name="firstname" value="{{users.firstname}}">
	<input type="texte" name="permission" value="{{users.permission}}">
	<input type="texte" name="email" value="{{users.email}}">

	<input type="hidden" name="_METHOD" value="put"/> 
	<input type="submit" name="add user">
</form>



{% endblock %}

