{% extends "layout.twig" %}


{% block content %}

<p>Formulaire de edit</p>

<form method="post" action="{{path_for('update', {'id':id})}}">
	<input type="text" class="form-control" id="formGroupExampleInput" name="title" value="{{article.title}}">
	<textarea name="text" class="form-control">{{article.text}}</textarea>
	<input type="text" name="date" value="{{article.date}}" >

	{% for categorie in categories %}

	<input type="checkbox" name="categories[]" value={{categorie.id}} 
	
		{% for catarticle in catarticles %}
			{% if categorie.id == catarticle.categorie %} 
				checked 
			{% endif %} 
		{% endfor %}
		>{{categorie.name }}
	{% endfor %} 
	
	<input type="hidden" name="_METHOD" value="put"/> 
	<input type="submit" name="add article">
</form>


{% endblock %}

