{% extends "layout.twig" %}

{% block content %}
<h1>{{name}}</h1>

	<div id="artAuthor">
	{% for categorie in categories %}
			<h3>{{categorie.articletitle}}</h3>
			<p>Article: {{categorie.articletext}}</p>
			<p><i><small>Date: {{categorie.articledate|date()}}</small></i></p>
			<p>Author: {{categorie.username}}</p>
			<div id="lineSep"></div>
			{% endfor %}
	</div>



{% endblock %}
