{% extends "layout.twig" %}

{% block content %}

<h1>Mes articles</h1>

{% if (session.permission <= 2) and (session.permission > 0) %}

	<form method="post" action="{{path_for('add')}}">
		<div class="form-group">
			<label for="formGroupExampleInput">title</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="title" name="title">
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput2">Text</label>
			<textarea name="text" class="form-control" placeholder="text" ></textarea>
		</div>
		<input type="submit" name="add article">
	</form>
	{% endif %}
	<div class="container">
	{% for article in articles  %}

       <div class="col-md-10 blogShort">
           <h1 id="titleArt">{{article.title}}</h1>
           <article>
						 	 <p>{{article.text}}</p>
							 <p>
							 {{article.date|date()}}
							 </p>
							 <p> auteur(s) : {{article.author}}</p>
					</article>

       </div>


	{% if session.permission == 1 %}

		<p><a href="{{path_for('edit', {'id':article.id})}}">Edit</a></p>
	{% endif %}
{% endfor %}
</div>
{% endblock %}
