{% extends "layout.twig" %}
{% block content %}
<div id="profile">
		<h2>Mon profil</h2>
		<h3>{{username}}</h3>
		<p>Lastname: {{lastname}} </p>
		<p>Firstname: {{firstname}}<p>
		<p>Email: {{email}}</p>
		<a href="{{path_for('editprofile')}}" class="btn btn-primary btn-sm ml-auto">Edit profile</a>
</div>
{% endblock %}
